{% extends "default.html" %}

{% block head %}

<script type="text/javascript">
// This function graps "my hookups" and displays them at the top of the list
    $(function(){
        hookups = []
        hookups.push({pk:1, model:"exchange.hookup", fields:{hookers:["Lou Fogel", "Kay Holland"], network:"ARHS", points: -192}})
        hookups.push({pk:1, model:"exchange.hookup", fields:{hookers:["Ben Blier", "Yamaha PM5-D"], network:"Dartmouth", points: -192}})
        hookups.push({pk:1, model:"exchange.hookup", fields:{hookers:["Austin Federa", "Liam Neeson"], network:"Hollywood", points: +150}})

        new_hookups = [];

        $(hookups).each(function(i) {
            var hookup = $(this)[0];
            result = $('<li class="standard-box"></li>');
            result.hide()
            result.load('static/new_hookup.html', function() {
                $(this).children(".top-bar").html(hookup.fields.network);

                if (hookup.fields.points > 0) {
                    $(this).find(".points").prepend('<div class="stock-up"> </div>')
                    $(this).find(".point-count").html("+"+hookup.fields.points);
                } else {
                    $(this).find(".points").prepend('<div class="stock-down"> </div>')
                    $(this).find(".point-count").html(hookup.fields.points);
                }

                
                $(this).find(".description").html("<p>"+hookup.fields.hookers[0]+"</p><p>"+hookup.fields.hookers[1]+"</p>")

                $(".left-panel ul").prepend(this);

                $(this).delay(800*i).fadeIn("medium")

            });
        });

    });
</script>

{% endblock %}

{% block content %}

    <div class="row">
      <div class="span3 left-panel">
          <h1>MY CONNECTIONS</h1>
          <ul>

<!--             <li class="standard-box">

              <div class="top-bar">
                University of Rochester
              </div>

              <div class="points">
                <div class="stock-down"></div>
                <div class="point-count">-149</div>
              </div>
              <div class="description">
                <p>Austin Federa</p>
                <p>Lou Fogel</p>
              </div>
            </li>

            <li class="standard-box">

              <div class="top-bar">
                Lawrence University
              </div>

              <div class="points">
                <div class="stock-up"></div>
                <div class="point-count">+383</div>
              </div>
              <div class="description">
                <p>Kay Holland</p>
                <p>Anyone</p>
              </div>
            </li>

            <li class="standard-box">

              <div class="top-bar">
                WPI
              </div>

              <div class="points">
                <div class="stock-down"></div>
                <div class="point-count">-256</div>
              </div>
              <div class="description">
                <p>Darcy Bird</p>
                <p>Alex Karpinski</p>
              </div>
            </li>

            <li class="standard-box">
              <div class="points">
                <div class="stock-up"></div>
                <div class="point-count">+160</div>
              </div>
              <div class="description">
                <p>Lorem Ipsum</p>
                <p>Dolor Sit</p>
              </div>
            </li>

            <li class="standard-box">
              <div class="points">
                <div class="stock-up"></div>
                <div class="point-count">-100</div>
              </div>
              <div class="description">
                <p>Austin Federa</p>
                <p>Lou Fogel</p>
              </div>
            </li> -->
          </ul>
      </div>

      <div class="span7 main-content">

            <script src="{{STATIC_URL}}main-graph.js"></script>
            <ul class="news-list">
              <li class="standard-box">
                <div style="float: left; height: 80px">
                <img class="avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/623523_617433351_1033914225_q.jpg" />
                </div>
                
                <div class="hookr-title">
                    <a href="#">
                    Kay Holland
                    </a>
                </div>
                
                <div class="update-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                  </p>
                </div>

              </li>
              
              <li class="standard-box">
                <div style="float: left; height: 80px">
                <img class="avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/260803_681966568_837455753_q.jpg" />
                </div>
                
                <div class="hookr-title">
                    <a href="#">
                    Lou Fogel
                    </a>
                </div>
                
                <div class="update-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>

              </li>

            </ul>
      </div>

      <div class="span2 right-panel">
        <h1>TRENDING</h1>
          <ul>

            <li class="standard-box">

              <div class="top-bar">
                Amherst, MA
              </div>
            
              <div class="trending-names">
                Jason Statham
                <br />
                Austin Federa
              </div>

              <hr />

                <div class="trending-points">6568 pts</div>
            </li>

            <li class="standard-box">
            
              <div class="top-bar">
                Lawrence University
              </div>

              <div class="trending-names">
                Ben Blier
                <br />
                Jason Bourne
              </div>

              <hr />

              <div class="trending-points">8358 pts</div>

            </li>

            <li class="standard-box">

              <div class="top-bar">
                University of Rochester
              </div>
            
              <div class="trending-names">
                Rachel Thompson
                <br />
                Rachel Maddow
              </div>

              <hr />

              <div class="trending-points">9059 pts</div>

            </li>

            <li class="standard-box">

              <div class="top-bar">
                WPI
              </div>
            
              <div class="trending-names">
                Jon Stewart
                <br />
                Stephen Colbert
              </div>

              <hr />

              <div class="trending-points">5929 pts</div>

            </li>

            <li class="standard-box">
            
              <div class="trending-names">
                Newt Gingrich
                <br />
                Rachel Maddow
              </div>

              <hr />

              <div class="trending-points">4908 pts</div>

            </li>

          </ul>
      </div>

    </div>

{% endblock %}