{% extends "default.html" %}

{% block head %}
<title>Hookr | Hookups</title>

{% endblock %}

{% block nav %}
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="#">Networks</a></li>
        <li class="active">
            <a href="hookups">Hookups</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span3">
        <ul>
             <li class="standard-box">
              <div class="top-bar">
                University of Rochester
              </div>
              </li>
        </ul>
    </div>

    <div class="span6 main-content">
        <div class="userpanel standard-box">
            <div style="text-align: center">
                <h2 style="padding-bottom: 20px;">hookups</h2>
                <div class="row">

                    <div class="span3 buysell pull-left" style="margin-right: 15px">
                        <input id="user1" type="text" placeholder="Person's name">
                    </div>

                    <div style="float:left; width: 0px; font-size: 20px; padding-top: 5px; margin-left: 0px; color: rgba(0, 0, 0, .52);">&amp;</div>

                    <div class="span3 buysell pull-right" style="margin-left: 5px">
                        <input id="user1" type="text" placeholder="Person's name">
                    </div>
                </div>

            <hr />
            <a class="btn buysell" href="#">buy</a>
            <span style="margin:120px"></span>
            <a class="btn buysell" href="#">sell</a>
            </div>
        </div>
    </div>

    <div class="span3">
        <ul>
             <li class="standard-box">
              <div class="top-bar">
                University of Rochester
              </div>
              </li>
        </ul>
    </div>

</div>

{% endblock %}
